apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pacman.fullname" . }}-mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
type: Opaque
data:
  mongodb-root-password: {{ randAlphaNum 32 | b64enc | quote }}
