apiVersion: v1
kind: Service
metadata:
  name: {{ include "pacman.fullname" . }}-mongodb
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 27017
      targetPort: 27017
  selector:
    {{- include "mongodb.selectorLabels" . | nindent 4 }}
